[SddmGreeterTheme]
Name=Sama
Description=Écran de connexion de Sama OS
Author=Projet Sama OS
License=Apache-2.0
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=samaos
Theme-API=2.0
QtVersion=6
