source /boot/grub/config.cfg

# Menu de démarrage de la clé Sama OS
menuentry "Essayer Sama OS" {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@
	initrd	@INITRD_LIVE@
}

menuentry "Mode sans échec" --hotkey=s {
	linux	@KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@
	initrd	@INITRD_LIVE@
}

submenu "Outils…" --hotkey=o {

	source /boot/grub/theme.cfg

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "Réglages du micrologiciel (UEFI)" {
			fwsetup
		}
	fi

	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Vérifier l'intégrité de la clé" {
			linux	@KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
			initrd	@INITRD_LIVE@
		}
	fi
}
