[Desktop Entry]
Type=Application
Name=Sama Présentations
Comment=Présentations de Sama (préversion)
Exec=env PLASMA_INTEGRATION_USE_PORTAL=0 libreoffice --impress %U
Icon=/usr/share/samaos/icones/presentations.svg
StartupWMClass=libreoffice-impress
Categories=Office;Presentation;
Terminal=false
X-Sama-Provisoire=true
