[Desktop Entry]
Type=Application
Name=Sama Sheet
Comment=Tableur de Sama (préversion)
Exec=env PLASMA_INTEGRATION_USE_PORTAL=0 libreoffice --calc %U
Icon=/usr/share/samaos/icones/sheet.svg
StartupWMClass=libreoffice-calc
Categories=Office;Spreadsheet;
Terminal=false
X-Sama-Provisoire=true
